<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allLarge</key>
	<array>
		<dict>
			<key>key</key>
			<string>default</string>
			<key>name</key>
			<string>跟随App内设置</string>
		</dict>
		<dict>
			<key>key</key>
			<string>largeTop</string>
			<key>name</key>
			<string>上</string>
		</dict>
		<dict>
			<key>key</key>
			<string>largeBottom</string>
			<key>name</key>
			<string>下</string>
		</dict>
	</array>
	<key>allMedium</key>
	<array>
		<dict>
			<key>key</key>
			<string>default</string>
			<key>name</key>
			<string>跟随App内设置</string>
		</dict>
		<dict>
			<key>key</key>
			<string>mediumTop</string>
			<key>name</key>
			<string>上</string>
		</dict>
		<dict>
			<key>key</key>
			<string>mediumCenter</string>
			<key>name</key>
			<string>中</string>
		</dict>
		<dict>
			<key>key</key>
			<string>mediumBottom</string>
			<key>name</key>
			<string>下</string>
		</dict>
	</array>
	<key>allSmall</key>
	<array>
		<dict>
			<key>key</key>
			<string>default</string>
			<key>name</key>
			<string>跟随App内设置</string>
		</dict>
		<dict>
			<key>key</key>
			<string>smallTopLeft</string>
			<key>name</key>
			<string>左上</string>
		</dict>
		<dict>
			<key>key</key>
			<string>smallTopRight</string>
			<key>name</key>
			<string>右上</string>
		</dict>
		<dict>
			<key>key</key>
			<string>smallCenterLeft</string>
			<key>name</key>
			<string>左中</string>
		</dict>
		<dict>
			<key>key</key>
			<string>smallCenterRight</string>
			<key>name</key>
			<string>右中</string>
		</dict>
		<dict>
			<key>key</key>
			<string>smallBottomLeft</string>
			<key>name</key>
			<string>左下</string>
		</dict>
		<dict>
			<key>key</key>
			<string>smallBottomRight</string>
			<key>name</key>
			<string>右下</string>
		</dict>
	</array>
</dict>
</plist>
