<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>weixinURLParamsAPI</string>
		<string>mqq</string>
		<string>taobao</string>
		<string>bilibili</string>
		<string>snssdk1128</string>
		<string>videocut</string>
		<string>pinduoduo</string>
		<string>dewuapp</string>
		<string>imeituan</string>
		<string>eleme</string>
		<string>tenvideo</string>
		<string>iqiyi</string>
		<string>openapp.jdmobile</string>
		<string>xhsdiscover</string>
		<string>alitmalllink</string>
		<string>dragon1967</string>
		<string>wb2021280076</string>
		<string>magicwidget</string>
		<string>colorwidgets</string>
		<string>widgetsmith</string>
		<string>mdclock</string>
		<string>onewidget</string>
		<string>ctrip</string>
		<string>widgy</string>
		<string>kwai</string>
		<string>zeronewidget</string>
		<string>maoerduowidget</string>
		<string>sinaweibo</string>
		<string>weibosdk</string>
		<string>weibosdk3.3</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdknopasteboard</string>
		<string>mqqopensdknopasteboardios16</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>用于小组件上的识别二维码，拍摄、反馈等</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>用于小组件个性化配图设置、透明背景设置</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>获取健康信息用于小组件展示</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>用于同步您的步数到小组件、分享你的步数给好友</string>
	<key>NSHealthShareUsageDescription</key>
	<string>用于将你的步数、运动距离及能量消耗展示到小组件上</string>
	<key>NSMotionUsageDescription</key>
	<string>显示今日步数小组件需要获取您的运动数据权限</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>用于获取地理位置展示当前天气信息，定位当前位置</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>用于小组件展示蓝牙状态</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>开通权限后，你可以获取更优质的推荐内容</string>
	<key>NSRemindersUsageDescription</key>
	<string>用于展示你的提醒事项到小组件中</string>

	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>MediumConfigurationIntent</string>
		<string>SmallConfigurationIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>bai.ttf</string>
		<string>cang.ttf</string>
		<string>hu.ttf</string>
		<string>mu.ttf</string>
		<string>pang.ttf</string>
		<string>mo.ttf</string>
		<string>kang.ttf</string>
		<string>biao.ttf</string>
		<string>yu.ttf</string>
		<string>Brush.ttf</string>
		<string>优设标题黑.ttf</string>
		<string>KNFontYuanmo.otf</string>
		<string>AlimamaFangYuanTi.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
